html.dark {

    body {
        background: #39445B !important;
        color: rgb(var(--white)) !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: rgb(var(--white)) !important;
    }

    a {
        color: var(--white) !important;
    }

    a:hover {
        color: var(--accent) !important;
    }

    code {
        background-color: rgb(var(--gray-dark));
    }

    blockquote {
        border-left: 4px solid var(--accent-dark);
    }

}