---
import Layout from "../layouts/BlogPost.astro";
import { SITE_TITLE } from "../consts";
---

<Layout
    title={`About - ${SITE_TITLE}`}
    description="Lorem ipsum dolor sit amet"
    heroImage="/blog-placeholder-about.jpg">
    <p>hola</p>
</Layout>
