---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<main>
		<h1>游 Bienvenidos a CROBF</h1>
		<p>
			Somos <strong>CROBF</strong>, una empresa de desarrollo de software
			conformada por un equipo joven pero con experiencia en diversas
			tecnolog칤as.
		</p>
		<p>
			Nuestra misi칩n es transformar ideas en software de alta calidad,
			adapt치ndonos a las necesidades de nuestros clientes y brindando
			resultados excepcionales.
		</p>
		<p>
			En <strong>CROBF</strong>, combinamos creatividad, t칠cnica y
			compromiso para llevar tus proyectos al siguiente nivel.
		</p>
		<p>Estas son algunas cosas que podemos ofrecerte:</p>
		<ul>
			<li>Desarrollo de aplicaciones web y m칩viles.</li>
			<li>Dise침o de interfaces de usuario (UI/UX).</li>
			<li>Asesoramiento en tecnolog칤as modernas.</li>
			<li>Mantenimiento y optimizaci칩n de proyectos existentes.</li>
		</ul>
		<p>
			쯊ienes una idea en mente? 춰Nos encantar칤a ayudarte a hacerla
			realidad!
			<br />
			<a href="mailto:juanberesiarte@gmail.com">Cont치ctanos</a> para m치s informaci칩n
			o para comenzar un proyecto juntos.
		</p>
	</main>
</Layout>
