---
import Github from "./svgs/Github.astro";
import Linkedin from "./svgs/Linkedin.astro";
import Instagram from "./svgs/Instagram.astro";
import X from "./svgs/X.astro";

const today = new Date();
---

<footer>
    &copy; {today.getFullYear()} CROBF. All rights reserved.
    <div class="social-links">
        <a href="https://github.com/CROBF-arg" target="_blank">
            <Github />
        </a>
        <a href="https://www.linkedin.com/company/crobf/">
            <Linkedin />
        </a>
        <a href="https://x.com/CROBF_arg" target="_blank">
            <X />
        </a>
        <a href="https://www.instagram.com/crobf_arg/">
            <Instagram />
        </a>
    </div>
</footer>
<style>
    footer {
        padding: 2em 1em 6em 1em;
        background: linear-gradient(var(--gray-gradient)) no-repeat;
        color: rgb(var(--gray));
        text-align: center;
    }
    html.dark footer {
        background: #333 !important;
        color: rgb(var(--white)) !important;
    }
    .social-links {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-top: 1em;
    }
    .social-links a {
        text-decoration: none;
        color: rgb(var(--gray));
    }
    .social-links a:hover {
        color: rgb(var(--gray-dark));
    }
</style>
