---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { useTranslations, getLangFromUrl } from "../i18n/tranlate";
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = getLangFromUrl(Astro.url);

const t = useTranslations(lang);
---

<header>
    <nav>
        <div class="menu">
            <h2><a href="/">{SITE_TITLE}</a></h2>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
                id="menu-button"
            >
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                ></path>
            </svg>
        </div>
        <div class="internal-links">
            <HeaderLink href={getRelativeLocaleUrl(lang)}>{t("navbar.home")}</HeaderLink>
            <HeaderLink href={getRelativeLocaleUrl(lang, "blog")}>{t("navbar.blog")}</HeaderLink>
            <HeaderLink href={getRelativeLocaleUrl(lang, "docs")}>{t("navbar.documentation")}</HeaderLink>
            <HeaderLink href={getRelativeLocaleUrl(lang, "about")}>{t("navbar.about")}</HeaderLink>
        </div>
    </nav>
</header>
<script is:inline>
    const links = document.querySelector("nav .internal-links");
    const menu_button = document.querySelector("nav #menu-button");
    const openMenuSVG = `
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>`;
    const closeMenuSVG = `
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>`;
    menu_button.addEventListener("click", function () {
        links.classList.toggle("show");
        menu_button.innerHTML = links.classList.contains("show") ? closeMenuSVG : openMenuSVG;
    });
</script>
<style is:global>
    .show {
        display: flex !important;
    }
</style>
<style>
    header {
        margin: 0;
        padding: 0;
        background: var(--gray-light);
        box-shadow: 0 2px 4px rgba(var(--black), 0.2);
    }
    h2 {
        margin: 0;
        font-size: 1em;
    }

    h2 a,
    h2 a.active {
        text-decoration: none;
    }
    nav {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 5%;
    }
    nav a {
        padding: 1em 0.5em;
        color: var(--black);
        border-bottom: 4px solid transparent;
        text-decoration: none;
    }
    nav a.active {
        text-decoration: none;
        border-bottom-color: var(--accent);
    }
    nav .menu svg {
        display: none;
    }
    @media screen and (max-width: 800px) {
        nav .menu svg {
            display: initial;
            padding: 0;
        }

        nav .internal-links a {
            padding: 1em 0;
            border-bottom: 1px #ccc solid;
        }

        nav .internal-links a.active {
            color: var(--accent);
        }

        nav {
            padding: 1.5vh 5%;
            margin: 0;
            flex-direction: column;
        }

        nav .menu {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
            align-items: center;
        }

        nav .menu svg {
            width: 3.25rem;
        }

        nav .internal-links {
            display: none;
            flex-direction: column;
            width: 90%;
            margin: 0 auto;
        }
    }
</style>
