---
import { languages } from "../i18n/ui";
import { getLangFromUrl } from "../i18n/tranlate";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"select">;

const actual_lang = getLangFromUrl(Astro.url);
---

<div class="language-dropdown-container">
    <select id="language-dropdown" class="internal-link" value={actual_lang} {...Astro.props}>
        {
            Object.keys(languages).map((lang) => (
                <option selected={lang === actual_lang} value={lang}>
                    友ₐ {languages[lang as keyof typeof languages]}
                </option>
            ))
        }
    </select>
</div>

<script is:inline>
    const language_selector = document.querySelector("select#language-dropdown");
    language_selector.addEventListener("change", (event) => {
        const path = window.location.pathname.match(/[^\/]+/g) || [];
        path[0] = event.target.value;
        window.location.href = `/${path.join("/")}`;
    });
</script>

<style>
    .language-dropdown-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
    }

    .language-dropdown-icon {
        margin-right: 8px;
        width: 20px;
        height: 20px;
        color: currentColor;
    }

    select {
        display: inline-block;
        font-size: 1rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: var(--black);
    }

    nav .internal-links {
        display: flex;
        align-items: center;
    }

    nav select {
        font-size: 1rem;
        padding: 0.5rem 1rem;
        background-color: transparent;
        border: none;
        color: var(--black);
        cursor: pointer;
    }

    select:focus {
        outline: none;
    }
    html.dark option {
        background-color: #333;
        padding: 10px;
        border-radius: 10px;
    }

    @media screen and (max-width: 800px) {
        .language-dropdown-container {
            margin-top: 10px;
        }

        select {
            font-size: 1.1rem;
        }
    }
</style>
