---
interface Props {}
import PurposeCards from "./PurposeCards.astro";
import { useTranslations, getLangFromUrl } from "../i18n/translate";
const t = useTranslations(getLangFromUrl(Astro.url));
---

<div class="CardsContainer">
    <PurposeCards
        image="/svg/aprender.svg"
        title={t("about.purpose.learn.title")}
        description={t("about.purpose.learn")}
    />
    <PurposeCards
        image="/svg/impacto.svg"
        title={t("about.purpose.impact.title")}
        description={t("about.purpose.impact")}
    />
</div>

<style>
    .CardsContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        align-items: start;
        width: 100%;
        max-width: 650px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    @media (max-width: 768px) {
        .CardsContainer {
            flex-direction: column;
            align-items: center;
            max-width: 320px;
        }
    }

    @media (max-width: 480px) {
        .CardsContainer {
            max-width: 100%;
            padding: 0 0.5rem;
        }
    }
</style>
