---
interface Props {}
import ValuesCards from "./ValuesCards.astro";
import { useTranslations, getLangFromUrl } from "../i18n/translate";
const t = useTranslations(getLangFromUrl(Astro.url));
---

<div class="CardsContainer">
    <ValuesCards
        image="/svg/equipo.svg"
        title={t("about.values.teamwork.title")}
        description={t("about.values.teamwork")}
    />
    <ValuesCards
        image="/svg/confianza.svg"
        title={t("about.values.trust.title")}
        description={t("about.values.trust")}
    />
    <ValuesCards
        image="/svg/compromiso.svg"
        title={t("about.values.commitment.title")}
        description={t("about.values.commitment")}
    />
    <ValuesCards
        image="/svg/resolucion.svg"
        title={t("about.values.conflictResolution.title")}
        description={t("about.values.conflictResolution")}
    />
</div>

<style>
    .CardsContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        justify-content: center;
        align-items: start;
        width: 100%;
        max-width: 650px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    @media (max-width: 768px) {
        .CardsContainer {
            grid-template-columns: 1fr;
            max-width: 320px;
        }
    }

    @media (max-width: 480px) {
        .CardsContainer {
            max-width: 100%;
            padding: 0 0.5rem;
        }
    }
</style>
