---
import Layout from "../../layouts/Layout.astro";
import ProjectsGrid from "../../components/ProjectsGrid.astro";
import { SITE_DESCRIPTION } from "../../consts";
import { useTranslations, getLangFromUrl } from "../../i18n/translate";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="CROBF - Equipo de desarrollo" description={SITE_DESCRIPTION}>
    <main style="position: relative;">
        <div>
            <h1>
                {t("index.welcome")}
                <span> CROBF </span>
            </h1>
            <p set:html={t("index.description")} />
            <p set:html={t("index.about")} />
            <p>
                {t("index.cta")}
            </p>
            <ProjectsGrid />
        </div>
    </main>
</Layout>
<style>
    h1 span {
        border-bottom: 5px solid var(--accent);
    }

    h1 span a {
        display: inline-block;
        text-decoration: none;
        color: var(--black);
        transition: transform 0.2s ease;
    }

    h1 span a:hover {
        color: var(--accent-dark);
        transform: scale(1.1);
    }

    @media (max-width: 800px) {
        h1 {
            font-size: 3rem;
            text-wrap: balance;
            text-align: center;
        }
    }
</style>
