---
import Layout from "../../layouts/Layout.astro";
import CardProyect from "../../components/CardProyect.astro";
import { SITE_DESCRIPTION } from "../../consts";
import { useTranslations, getLangFromUrl } from "../../i18n/translate";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="CROBF - Equipo de desarrollo" description={SITE_DESCRIPTION}>
    <main style="position: relative;">
        <div>
            <h1>
                {t("index.welcome")}
                <span> CROBF </span>
            </h1>
            <p set:html={t("index.description")} />
            <p set:html={t("index.mission")} />
            <p set:html={t("index.about")} />
            <p set:html={t("index.offer")} />
            <ul>
                {(t("index.services") as string[]).map((service) => <li set:html={service} />)}
            </ul>
            <p>
                {t("index.cta")}
            </p>
            <h3>{t("projects.title")}</h3>
            <CardProyect
                name="FullLite"
                description="Template ligero para aplicaciones full stack"
                image="/projects/animal.svg"
                link="https://full-lite.vercel.app/"
            />
            <CardProyect
                name="CROBF-UI"
                description="Librería de componentes para CSS"
                image="/projects/logo-ui.png"
                link="https://crobf-ui.vercel.app/"
            />
        </div>
    </main>
</Layout>
<style>
    h1 span {
        border-bottom: 5px solid var(--accent);
    }

    h1 span a {
        display: inline-block;
        text-decoration: none;
        color: var(--black);
        transition: transform 0.2s ease;
    }

    h1 span a:hover {
        color: var(--accent-dark);
        transform: scale(1.1);
    }

    @media (max-width: 800px) {
        h1 {
            font-size: 3rem;
            text-wrap: balance;
            text-align: center;
        }
    }
</style>
