---
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
const { currentLocale } = Astro;

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
---

<!doctype html>
<html lang={currentLocale || "es"}>
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body>
        <Header />
        <slot />
        <ThemeIcon />
        <Footer />
    </body>
</html>
